#header1{
    text-align: center;
    color : rgb(8, 135, 135);
    font-size: 38px;
}

#film_and_tv_Triviaimg{
    width:300px;
    height:260px;
    border-radius: 20px;
}

#geographyTriviaimg{
    width:300px;
    height:260px;
    border-radius: 20px;
}

#scienceTriviaimg{
    width:300px;
    height:260px;
    border-radius: 20px;
}

#musicTriviaimg{
    width:300px;
    height:260px;
    border-radius: 20px;
}

#line1,#line2{
    display:flex;
}

#film_and_tv_Trivia,#movieTriviaimg{
    margin-left: 3%;
}

#film_and_tv_Trivia,#musicTrivia,#scienceTrivia{
    padding-right: 15.5%;
}

#film_and_tv_Triviaimg,#musicTriviaimg,#scienceTriviaimg{
    margin-right: 2.1%;
}

#film_and_tv_Triviaimg,#musicTriviaimg,#scienceTriviaimg,#geographyTriviaimg{
    border: 2px solid rgb(8, 135, 135);
    margin-left: 1%;
}


#goodluckText{
    text-align: center;
    color:rgb(8, 135, 135);
    padding-top: 25px;
}

.choicelink{
    cursor: pointer;
    padding-right: 6.5%;
    font-size:medium;
    margin-left: 3%;
}

.choicelink:hover{
    color:rgb(8, 135, 135)
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}